# Игнорируем виртуальные окружения
venv/
__pycache__/
*.pyc

# Игнорируем файлы конфигурации IDE
.vscode/
.idea/

# Игнорируем файлы Docker
Dockerfile
docker-compose.yml

# Игнорируем файлы и папки, которые не нужны в контейнере
*.env
*.git
*.md